h1 {
	font-family: 'Bungee Shade', cursive;
}

.container {
	width: 70%;
	text-align: center;
}

#generate-button {
	margin-top: 20px;
}

#letter-row {
	margin-top: 20px;
}

.key-space {
	height: 40px;
	width: 40px;
	margin: 8px;
}

#game-info-row {
	margin-top: 30px;
}